<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="9" />

    <!-- start for gfan sdk -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    
    <!-- end for gfan sdk -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/gfan_app_name" 
        android:theme="@style/Transparent">
        <activity
            android:name=".MainActivity"
            android:label="@string/gfan_app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mappn.sdk.uc.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity
            android:name="com.mappn.sdk.uc.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity
            android:name="com.mappn.sdk.uc.activity.ChooseAccountActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity
            android:name="com.mappn.sdk.pay.payment.PaymentsActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity
            android:name="com.mappn.sdk.pay.chargement.ChargeActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity
            android:name="com.mappn.sdk.pay.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified"
        	android:theme="@style/Transparent" />
        <activity android:name="com.mappn.sdk.uc.activity.OnekeyLoignActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <activity android:name="com.mappn.sdk.uc.activity.ModfiyActivity"
            android:configChanges="orientation|keyboardHidden"
        	android:theme="@style/Transparent" />
        <!-- mo9 -->
       <activity android:name="com.mokredit.payment.MktPayment"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="adjustResize"/>

        <service android:name="com.mappn.sdk.pay.GfanPayService" />

			<meta-data
            	android:name="gfan_pay_appkey"
			    android:value="325077622" /> 
            
            <meta-data
            	android:name="gfan_cpid"
            	android:value="渠道2" />

</application>

</manifest>